* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* The backgrounnd of the login */
.section{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(rgba(7, 7, 7, 0.73),rgba(7, 7, 7, 0.73)), url(./pages/plumber.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
  padding-top: 10rem;
}
.section-2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.section-3 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.come {
  text-align: center;
}

/* The flex of the login and form */
.main {
  display: flex;
  /* Add align-items: flex-start; */
  align-items: flex-start;
  width: 100%;
  gap: 50px;
}

.main-1 img{
  width: 20%;
  padding-bottom: 20px;
}
/* the icons */
.icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding-top: 2rem;
  cursor: pointer;
}

/* The login  */
.main-1 {
  width: 100%;
  padding-top: 2rem;
}

.main-1 h1 {
  font-size: 32px;
}

.main-1 p{
  padding-top: 1rem;
  width: 70%;
}
/* the form */
.main-2 {
  width: 100%;
}

.bg{
  background-color: #fff;
  height: auto;
  width: 80%;
  padding: 2rem;
  border-radius: 2px;
  color: #000;
  font-family: roboto 'san serif';
}

.bg p{
  padding-bottom: 24px;
}

.bg label{
  color: #333;
  font-weight: 600;

}

.bg input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg .btn button{
  background-color: #2e55fa;
  color: #fff;
  padding: 10px;
  outline: none;
  border: 1px solid #2e55fa;
  cursor: pointer;
}

.sign{
  color: #2e55fa;
  cursor: pointer;
}

link {
  text-decoration: none;
}


/* The register page */
.section-1{
  height: auto;
  width: 100%;
  background: linear-gradient(rgba(7, 7, 7, 0.73),rgba(7, 7, 7, 0.73)), url(./pages/plumber.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.bg-white{
  background-color: #fff;
  height: auto;
  width: 100%;
  padding: 3rem;
  color: #000;
}

.bg-white label{
  color: #333;
  font-weight: 600;

}

.bg-white input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.bg-white select{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.bg-white img{
  width: 20%;
}
.btn-2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-2 button{
  background-color: #2e55fa;
  color: #fff;
  padding: 10px;
  outline: none;
  border: 1px solid #2e55fa;
  cursor: pointer;
  margin-top: 1rem;
}

/* Responsiveness for login page  */
@media (max-width:800px){
  .main {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
    flex-direction: column;
}
.section{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(rgba(7, 7, 7, 0.73),rgba(7, 7, 7, 0.73)), url(./pages/plumber.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.section-2 {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
}

@media (max-width:500px){
  .bg {
    background-color: #fff;
    height: auto;
    width: 100%;
    padding: 2rem;
    border-radius: 2px;
    color: #000;
    font-family: roboto 'san serif';
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding-top: 2rem;
  cursor: pointer;
}
.main-1 p {
  padding-top: 1rem;
  width: 100%;
}
}


/* Responsiveness for Reister page */
@media(max-width:800px){
  .bg-white {
    background-color: #fff;
    height: auto;
    width: 57%;
    padding: 3rem;
    color: #000;
}
}

@media (max-width:500px){
  .bg-white {
    background-color: #fff;
    height: auto;
    width: 90%;
    padding: 2rem;
    color: #000;
}
.person h1{
  font-size: 20px;
}
}

/* The home page */
.nav img{
  width:40px;
}

.sect-1{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
}
.sect-2 {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sect-3 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.sect-1-1{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  padding-top: 10rem;
  padding-bottom: 2rem;
}
 .all{
  padding-top: 2rem;
  width: 100%;
 }
 .sm-box{
  background-color: #2e55fa;
  padding: 5px 10px;
  font-size: 12px;
  width: 25%;
  color: #fff;
 }
 .all h4{
  font-size: 45px;
  line-height: 60px;
  font-weight: 600;
 }
 .all h4 span{
  color: #2e55fa;
 }
 .all-white{
  background: #fff;
  padding: 2rem;
  margin-top: 2rem;
 }
 .grid-new{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
 }
 .wave-group {
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 250px;
  border: none;
  border-bottom: 1px solid #2e55fa;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #2e55fa;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 250px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}
.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

.select select{
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #2e55fa;
  outline: none;
}

.btn-new-grid{
  padding: 10px 10px;
  color: #fff;
  background-color: #2e55fa;
  outline: none;
  border: none;
}